<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect();
            socket.on('my response', function(msg) {
                $('#log').append('<p>Received: ' + msg.data + '</p>');
            });
            socket.on('trendings', function(msg) {
                $('#trendings').append('<p>Received: ' + msg + '</p>');
            });
            socket.on('sentiment', function(msg) {
                $('#sentiment').append('<p>Received: ' + msg.sentiment + '</p>');
            });
        });
    </script>
</head>
<body>
    <h1>Anacoreta DEBUG</h1>
    <h2>Receive:</h2>
    <div id="log"></div>
    <h2>Trendings:</h2>
    <div id="trendings"></div>
    <h2>Sentiment:</h2>
    <div id="sentiment"></div>
</body>
</html>
