<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect();
            socket.on('connection', function(msg) {
                $('#log').append('<p>Received: ' + msg.data + '</p>');
                update_time()
            });
            socket.on('trendings', function(msg) {
                $('#trendings').append('<p>Received: ' + msg + '</p>');
                update_time()
            });
            socket.on('sentiment', function(msg) {
                var current = $('#sentiment').html()
                var actual = msg.sentiment
                console.log(actual)
                console.log(current)
                if (current != actual) {
                    $('#previous_sentiments').append('<p>Value: ' + current + ' - Updated: ' + getStrTime() + '</p>');
                    $('#sentiment').html(actual)
                }

                update_time()
            });
            function update_time() {
                $('#lastupdate').html(getStrTime())
            }
            function getStrTime() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                return date+' '+time;
            }
        });
    </script>
</head>
<body>
    <h1>Anacoreta DEBUG - Last update <span id="lastupdate"></span></h1>
    <h2>Receive:</h2>
    <div id="log"></div>
    <h2>Trendings:</h2>
    <div id="trendings"></div>
    <h2>Sentiment:</h2>
    <div id="previous_sentiments"></div>
    Current: <span id="sentiment"></span>
</body>
</html>
